<header id="header" class="section--home-header spacing--vert-6">
	<img src="{{home.header.image|resize(480)}}" data-original="{{home.header.image|resize(1200)}}" alt="{{home.header.image.caption}}" class="grid--one block headerimg" data-original-set="{{home.header.image|resize(640)}}  640w,{{home.header.image|resize(750)}}  750w,{{home.header.image|resize(1080)}} 1080w,{{home.header.image|resize(1200)}} 1280w,{{home.header.image|resize(1366)}} 1366w,{{home.header.image|resize(1440)}} 1440w,{{home.header.image|resize(1920)}} 1920w,{{home.header.image|resize(2880)}} 2880w" sizes="100vw">
	
	<section class="flex flex--wrap justify--between spacing--gutter">
		<div class="grid--half">
			<h1><i class="icon-logo" data-grunticon-embed>{{site.name}}</i></h1>
			<h2 class="text--center color--yellow margin--top-2">{{home.header.title}}</h2>
		</div>
	</section>
</header>